.te-board {
  height: 100%;  background-color: #373737;

}
.te-board .te-control {
  display: flex;
  padding: .5rem;
}
.te-board .te-control .te-button {
  margin: .5rem;
}
.te-board .te-subtitle {
  overflow-y: auto;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
