.te-board {
  /*display: flex;*/
  /*flex-direction: column;*/
  height: 100%;
}
.te-board .te-controls {
  margin: .5rem;
  display: flex;
}
.te-board .te-controls .te-button {
  margin: .5rem;
}
.te-board .te-subtitle {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  overflow-y: auto;
  background-color: #373737;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
