.te-home {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.te-home .te-body {
  display: flex;
  height: 100%;
}
.te-home .te-board-wrapper {
  width: 50%;
}
.te-home .te-note-wrapper {
  width: 50%;
}
